<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/img/house.png" />
  <link rel="stylesheet" href="/css/ranking.css" />
  <title>탱미홈</title>
</head>
  <body>
  <section id="contents">
    <div class="wrapper">
      <div class="title">
        <h1 onclick="location.href='/'">Take Me Home</h1>
      </div>
      <div class="explain">
        <p> 현재 랭킹 </p>
        <p th:if="${list.totalPages} == 0" th:text="아직 플레이어 기록이 없습니다."></p>
      </div>
      <div class="rank-table">
        <table>
          <tr th:each="x, i : ${list}">
            <td th:text="${i.count + '등'}" style="width: 60px"></td>
            <td th:text="${x.username}"></td>
            <td th:text="${x.score + '점'}"></td>
          </tr>
        </table>
      </div>
      <div class="paging-wrap" th:unless="${list.totalPages} == '0'">
        <ul th:with="start=${startPage}, last=${endPage}">
          <th:block th:with="
          firstLink=@{/ranking(page=1)},
          prevLink=@{/ranking(page=${list.number})},
          nextLink=@{/ranking(page=${list.number + 2})},
          lastLink=@{/ranking(page=${list.totalPages})}"
          />
          <li th:style="${list.first}"><a th:href="${firstLink}"> << </a></li>
          <li><a th:href="${list.first} ? '#' : ${prevLink}"> < </a></li>
          <li class="number" th:each="p : ${#numbers.sequence(start, last)}">
            <a th:classappend="${p == list.number + 1} ? 'active'"
               th:href="@{/ranking(page=${p})}" th:text=" ${p} " >
            </a>
          </li>
          <li><a th:href="${list.last} ? '#' : ${nextLink}"> > </a></li>
          <li><a th:href="${lastLink}"> >> </a></li>
        </ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/">홈으로</a>
    </div>
  </section>
  <section id="copyright-wrap">
    <p>Audio API Docs</p>
    <div class="copyright">
      <a href="https://theresassoundworld.com/#disconnect">Theresa's Sound World</a>
      <a href="https://stuartmemo.com/">Stuart Memo</a>
    </div>
  </section>
  </body>
</html>
